body {
    background-color: #E8E8E8;
}

.dash {
    height: 100vh;
    background-color: #E8E8E8;
    margin-left: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*!CAPA*/
.dash-divs {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 16px;
    width: 90%;
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    box-shadow: 2.5px 2.5px 6px 1px rgb(8, 10, 12, 0.4);
}

.dash-capa-img img {
    width: 150px;
}

/*!KPIS*/
.dash-kpis {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    text-align: center;
    width: 95%;
}

.dash-kpis-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    padding: 20px 5px;
    box-shadow: 1px 1px 7px 1px rgb(8, 10, 12, 0.4);
    justify-content: space-between;
}

.dash-kpis-item canvas {
    width: 100px;
    height: 100px;
    margin: auto 0;
}

/* Alerta */
#tabelaAlertas {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    font-size: 18px;
}

#tabelaAlertas th {
    background-color: #dc3545;
    color: white;
    padding: 10px;
    border: 2px solid black;
}

#tabelaAlertas td {
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    color: red;
    font-weight: bold;
}

#tabelaAlertas tr {
    background-color: #ffe5e5;
}