h1 {
    margin: 30px 200px;
    color: rgba(36, 65, 103, 1);
    font-size: 40px;
}

.login {
    min-height: 80vh;
    color: rgba(36, 65, 103, 1);
}

.login-div {
    background-color: rgb(202, 202, 202);
    margin: 0 200px;
    border-radius: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgb(105, 105, 105);
}

.login-div {
    display: flex;
    justify-content: space-between;
}

.login-div-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 80px;
    text-align: left;
    justify-content: space-evenly;
}

.login-div-left img {
    width: 300px;
}

.login-div-left h2 {
    font-size: 50px;
    font-weight: 500;
}

.login-titulo {
    margin-bottom: 40px;
}

.login-titulo h2 {
    font-size: 40px;
    font-weight: 500;
    color: rgba(151, 7, 0, 1);
    margin-bottom: 20px;
}

.login-titulo p {
    color: rgba(130, 130, 130, 1);
}

.login-form {
    display: block;
    align-items: center;
}

.login-form-campos p {
    font-weight: 500;
    margin-bottom: 6px;
}

.login-form-campos input {
    font-size: 16px;
    padding: 9px;
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;
    width: 100%;
}

.login-form-campos input:focus {
    outline: none;
}

.login-form button {
    background-color: rgba(36, 65, 103, 1);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 0 rgb(19, 40, 66);
    transition: all 0.1s ease-in-out;
    width: 100%;
}

.login-form button:hover {
    background-color: rgb(60, 109, 173);
}

.login-form button:active {
    box-shadow: 0 2px 0 rgb(52, 93, 146);
    transform: translateY(2px);
}

.login-div-right {
    width: 50%;
    min-height: 75vh;
    background-image: url(../assets/login.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 4px 30px rgb(105, 105, 105);
}

.alerta_erro {
    display: flex;
    justify-content: flex-end;
}

.card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #ED145B 3px solid;
    padding: 10px;
    margin-right: 10%;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}