.slide {
    height: 100vh;
    width: 150px;
    position: fixed;
    background-color: #fff;
    border-right: 3px solid #650E82;
    box-shadow: 5px 0 15px 1px rgb(8, 10, 12, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.slide span {
    margin: 2rem;
    width: 50%;
}

.slide-header {
    margin: 3rem 0;
    width: 80%;
}

.slide-header a {
    text-decoration: none;
    color: #650E82;
}

.publicar_btn,.slide_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #650E82;
    border: none;
    border-radius: 5px;
    padding: 15px 15px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 3px 3px 5px .5px rgb(8, 10, 12, 0.4);
    transition: all 0.1s ease-in-out;
    text-decoration: none;
}

.slide_btn {
    box-shadow:none;
}

.publicar_btn:hover {
    background-color: #650E82;
    color: #fff;
}

.slide_btn:hover {
    background-color: #650E82;
    color: #fff;
}

.slide-header-item {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;
}

.slide-header-item img {
    width: 1.5rem;
    margin-right: 2px;
}

.slide-header-item:hover {
    color: #fff;
}

.slide-header-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #650E82;
    transition: color 0.2s ease;
}

.slide-header-item:hover a {
    color: #fff;
}

/*!FOOTER*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #650E82;
    color: #fff;
    font-weight: 800;
    margin-left: 200px;
}