.slide {
    height: 100vh;
    width: 150px;
    position: fixed;
    background-color: #A31E18;
    box-shadow: 5px 0 15px 1px rgb(8, 10, 12, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
}

.slide span {
    margin: 2rem;
    width: 50%;
}

.slide-header {
    margin: 3rem 0;
    width: 80%;
}

.slide-header-item {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-header-item img {
    width: 1.5rem;
    margin-right: 2px;
}

.slide-header-item a {
    padding: 10px;
    border-radius: 15px;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-header-item a:hover {
    cursor: pointer;
    background-color: rgb(52, 93, 146);
}

.cyclus_logo {
    width: 80px;
}

/*!FOOTER*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #650E82;
    color: #fff;
    font-weight: 800;
    margin-left: 200px;
}