.dash {
    height: 100vh;
    background-color: #E8E8E8;
    margin-left: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #A31E18;
    justify-content: flex-start;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgb(105, 105, 105);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-container2 {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

h2 {
    margin-bottom: 25px;
}

/*!CAPA*/
.dash-divs {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 16px;
    width: 90%;
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 2.5px 2.5px 6px 1px rgb(8, 10, 12, 0.4);
}

.dash-divs p {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}

.dash-divs h1 {
    padding-bottom: 20px;
    justify-content: center;
}


/*!KPIS*/
.dash-kpis {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    text-align: center;
    width: 95%;
}

.dash-kpis-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    align-items: center;
    padding: 20px;
    box-shadow: 1px 1px 7px 1px rgb(8, 10, 12, 0.4);
}

/* botao de gerar resposta */
.botao {
    padding: 7px 5px;
    border: none;
    background-color: #A31E18;
    color: #fff;
    border-radius: 5px;
    transition: 0.2s ease;
    margin-top: 0;
    margin-bottom: 10px;
}

.botao:hover {
    background-color: #c7332b;
    cursor: pointer;
}

.textarea, #resposta {
    width: 500px;
    height: 200px;
    border-radius: 16px;
    padding: 10px;
    font-size: larger;
}


/* #resposta {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #D0D3D4;
    border: 1px solid #63666A;
    text-align: left;
    display: none;
} */