
.dash {
    height: 100vh;
    background-color: #E8E8E8;
    margin-left: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #A31E18;
    justify-content: flex-start;
    
}

/*!CAPA*/
.dash-divs {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 16px;
    width: 90%;
    padding: 50px 20px;

    margin-bottom: 25px;
    box-shadow: 2.5px 2.5px 6px 1px rgb(8, 10, 12, 0.4);

}

.dash-divs p {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}

/* botao de gerar resposta */
.botao {
    padding: 7px 5px;
    border: none;
    background-color: #A31E18;
    color: #fff;
    border-radius: 5px;
    transition: 0.2s ease;
}

.botao:hover {
    background-color: #c7332b;
    cursor: pointer;
}

.textarea {
    border-radius: 16px;
    padding: 40px 100px;
    font-size: larger;
}


#resposta {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #D0D3D4;
    border: 1px solid #63666A;
    text-align: left;
    display: none;
} 
